// $bg-darkgrey: #292929;
// $bg-lightgrey: #f8f5f2;
$desktop-widths: ("min-width: 1260px");
$tablet-widths: ("max-width: 1259px");
$mobile-widths: ("max-width: 767px");



// @desktop-widths: ~"(min-width: 1260px)"; //1024
// @tablet-widths: ~"(max-width: 1260px)";  //1024
// @mobile-widths: ~"(max-width: 667px )";  //667

$text-black: #090909;
$text-white: #ffffff;